.carousel-wrapper {
  margin-top: 20vh;
}
h1 {
  text-align: center;
  margin: 5rem 0;
  color: #ededed;
  font-size: 3rem;
}

img {
  width: 33vw;
  height: 50vh;
  object-fit: cover;
}

.swiper-btn {
  color: rgb(255, 255, 255);
}
@media (max-width: 900px) {
  img {
    width: 35vw;
    height: 40vw;
  }
}
@media (max-width: 600px) {
  img {
    width: 35vw;
    height: 50vw;
  }
}

.swiper::before {
  content: "";
  right: -10px;
  left: -10px;
  top: -5.5rem;
  height: 10rem;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  border-radius: 51% 49% 48% 52% / 49% 50% 50% 51%;
}

.swiper::after {
  content: "";
  right: -20px;
  left: -20px;
  bottom: -6rem;
  height: 10rem;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  border-radius: 51% 49% 48% 52% / 49% 50% 50% 51%;
}
