/* ********************************* Home Page Styles ********************************* */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");
.landing-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 60px;
  flex-wrap: wrap;
}
.landing-left {
  flex: 0.6;
}
.landing-left > img {
  max-width: 100%;
  min-width: 300px;
  /* max-width: 600px */
}

.landing-right {
  min-width: 320px;
  margin: 60px 20px;
  display: flex;
  flex: 0.4;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  box-shadow: 5px 2px 20px rgb(0 0 0 / 20%);
  border-radius: 20px;
}

.landing-right > h1 {
  font-size: 40px;
  margin-top: 20px;
}
.landing-right > p {
  font-size: 20px;
  /* text-align: center; */
  margin: 20px 0;
  color: var(--lightblack);
  line-height: 32px;
}

first-letter {
  color: var(--primaryblue);
}

second-letter {
  color: var(--primaryyellow);
}

third-letter {
  color: var(--primaryred);
}

forth-letter {
  color: var(--primarygreen);
}

.member-button {
  background: #2f5be7;
  box-shadow: 0 2px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  color: #ffffff;
  padding: 12px 18px;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
}

.member-button:hover {
  background: #007bff;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 40px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media (min-width: 768px) {
  .landing-right {
    width: 100% !important;
  }
}

.container {
  font-family: "Poppins";
  margin-top: 100px;
}

p {
  line-height: 1.5;
}

@media (max-width: 992px) {
  .container {
    text-align: center;
  }
}
div.container h1 {
  font-family: "Poppins";
  color: black;
  font-weight: 600;
  margin-bottom:10vh;
}
div.container div.card {
 box-shadow: 4px 4px 10px 7px rgba(66, 133, 244, 0.25)!important;
 margin-bottom: 10vh!important;
}
