/* ********************************* Footer Section ********************************* */

footer {
    margin: 4rem 0 0;
    padding: 4rem 4rem 0;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* ********************************* Footer Desc ********************************* */

footer .footer_desc {
    position: relative;
    flex-basis: 35%;
}

footer .logo {
    width: 100px;
    height: 50px;
    margin-right: 10px;
}

footer .footer_desc .footer-flex {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

footer .footer_desc .title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--darkwhite);
}

footer .footer_desc .subtitle {
    font-size: 1.1rem;
    color: var(--darkwhite);
}

footer .footer_desc .icons {
    display: flex;
}

footer .footer_desc h2 {
    margin: 1rem auto 0.5rem auto;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--darkwhite);
}

footer .footer_desc a.join_btn {
    padding: 10px;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transition: all 0.2s ease;
}

footer .footer_desc a.join_btn:hover {
    background: var(--lightblack);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

footer .footer_desc a.join_btn i {
    font-size: 2.2rem;
    color: var(--darkwhite);
}

/* ********************************* Footer Links ********************************* */

footer .footer_links {
    flex-basis: 20%;
}

footer .footer_links h2 {
    margin: 1rem auto;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--mainfont);
    color: var(--darkwhite);
    text-align: center;
    letter-spacing: 0.5px;
}

footer .footer_links span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer_links span a {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-family: var(--mainfont);
    color: var(--lightwhite);
    text-decoration: none;
    transition: all 200ms;
}

footer .footer_links span a:hover {
    color: #aaa;
}

/* ********************************* Footer Contact ********************************* */

footer .footer-address {
    position: relative;
    flex-basis: 20%;
}

footer .footer-address .footer-iframe {
    width: 250px;
    height: 200px;
    margin: 4rem 0;
    border-radius: 20px;
}

/* ********************************* Responsive Medias ********************************* */

@media (max-width: 1240px) {
    footer .footer_desc {
        flex-basis: 40%;
    }

    footer .footer_contact {
        flex-basis: 30%;
    }
}

@media (max-width: 992px) {
    footer .footer_desc {
        margin: 2rem 0;
        flex-basis: 50%;
    }

    footer .footer_links {
        margin: 2rem 0;
        flex-basis: 30%;
    }

    footer .footer_contact {
        margin: 2rem 0;
        flex-basis: auto;
    }
}

@media (max-width: 572px) {
    footer {
        justify-content: flex-start;
    }

    footer .footer_desc,
    footer .footer_links {
        flex-basis: auto;
    }

    footer .footer_contact {
        margin: 2rem 4rem;
    }

    footer .footer_links span {
        align-items: flex-start;
    }
}

@media (max-width: 470px) {

    footer .footer_desc,
    footer .footer_links,
    footer .footer_contact {
        margin: 1rem 0;
    }
}

/* ********************************* Styles End ********************************* */