.swiper-image {
  width: 33vw;
  height: 50vh;
  object-fit: cover;
}

.carousel-wrapper {
  margin-top: 3rem;
}

.swiper-btn {
  color: rgb(255, 255, 255);
}

.swiper::before {
  content: "";
  right: -10px;
  left: -10px;
  top: -7rem;
  height: 10rem;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  border-radius: 35%;
}

.swiper::after {
  content: "";
  right: 0px;
  left: 0px;
  bottom: -7rem;
  height: 10rem;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  border-radius: 35%;
}

@media (max-width: 900px) {
  .swiper-image {
    width: 35vw;
    height: 40vw;
  }
}

@media (max-width: 600px) {
  .swiper-image {
    width: 35vw;
    height: 50vw;
  }
}