/* **************************** Fonts **************************** */

/* Noto & Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

/* **************************** Site General Settings **************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--mainfont);
}

/* **************************** Body Settings **************************** */

body {
  background: var(--darkwhite);
  font-family: var(--mainfont);
  opacity: 0;
}

body.ready {
  opacity: 1;
  transition: .25s ease opacity;
}

/* **************************** Root Variables **************************** */

/* Default Root (Don't Change This) */

:root {
  /* Default Colors */
  --darkblack: #3c434e;
  --lightblack: #495464;
  --offblack: #32456b;
  --darkwhite: #ffffff;
  --lightwhite: #f7fafc;
  --lightgrey: #9ba4b4;
  --darkgrey: #787a91;

  /* Theme Colors */
  --primaryred: #f74037;
  --primaryblue: #4a90f4;
  --primarygreen: #14b25f;
  --primaryyellow: #ffb808;

  /* Default Fonts */
  --mainfont: "Poppins", sans-serif;
  --primaryfont_sans: "Noto Sans Display", sans-serif;
  --primaryfont_serif: "Noto Serif", serif;
  --primaryfont_mono: "Noto Sans Mono", monospace;
}

/* **************************** Scroll Bar **************************** */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryblue);
  border-radius: 2px;
}

/* **************************** User Select None **************************** */

a,
button,
img,
.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button.btn:active,
button.btn:focus,
a.btn:active,
a.btn:focus {
  box-shadow: none;
}