.project-card {
    box-shadow: 0px 0px 10px 2px rgb(66 133 244 / 50%);
    border-radius: 15px;
}

.project-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.project-body {
    padding: 5px 20px 20px 20px;
}

.project-card-title {
    font-size: 20px;
    font-weight: 600;
}

.project-card-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    gap: 5px;
    align-items: center;
    margin: 5px 0;

    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 15px;
    text-decoration: none;
    color: #000;

    transition: all 300ms ease-in-out;
}

.project-card-link:hover {
    background-color: #aaa;
}